@import 'libs/vars';
@import 'libs/functions';
//@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
//@import 'libs/html-grid';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600');
//@import "fontawesome/fontawesome";
//@import "fontawesome/brands";
//@import url('fontawesome.min.css');
//@import url('brands.min.css');
@import url('all.min.css');

@include breakpoints((
  wide:      ( 1281px,  1680px ),
  normal:    ( 961px,   1280px ),
  narrow:    ( 841px,   960px  ),
  narrower:  ( 737px,   840px  ),
  mobile:    ( null,    736px  )
));

@import "base/reset";

// Set box model to border-box.
// Based on css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }
@import "base/style";

@import "libs/layout";
@import "components/footer";
@import "components/navbar";
@import "components/dropdown";
