
.dropdown {
  & > .dropdown-menu {
    display: none !important;
  }
  & i.fa-sort-down {
    margin-left: 0;
  }
}
.dropdown-root {
  // To create a new stacking context for displaying the before element behind the menu
  display: none;
  position: absolute;
  z-index: _misc('z-index-drop');
  background-color: transparent !important;

  & > .dropdown-menu {
    position: relative;
    padding: _size('menu-m')/2 _size('menu-m');
    background-color: _palette('bg-drop');
    border: 3px solid _palette('border-drop');
    //@include vendor('box-shadow', 'inset 0 0 10px 1px #{_palette('border-drop')}');
    border-radius: 1em;

    &.dropdown-light {
      background-color: _palette('bg-drop-light');
      border-color: _palette('border-drop-light');
      //@include vendor('box-shadow', 'inset 0 0 20px 5px #{_palette('border-drop-light')}');
      color: _palette('fg-light');

      &:before {
        border-color: _palette('border-drop-light') !important;
      }
    }

    & * {
      display: block;
    }
    & > ul > li {
      padding: _size('menu-sm')/2 0;

      & a {
        text-decoration: none;
      }
    }

    &.dropdown-bottom {
      &.dropdown-center {
        &:before {
          content: '';
          border-bottom: 1em solid _palette('border-drop');
          border-left: 1em solid transparent !important;
          border-right: 1em solid transparent !important;
          position: absolute;
          top: -1em;
          left: calc(50% - 1em);
          z-index: -1;
        }
      }
      &.dropdown-right {
        &:before {
          content: '';
          border-right: 1em solid _palette('border-drop');
          border-bottom: 1em solid transparent !important;
          border-top: 1em solid transparent !important;
          position: absolute;
          top: -1em;
          right: 0;
          z-index: -1;
        }
      }
      &.dropdown-left {
        &:before {
          content: '';
          border-left: 1em solid _palette('border-drop');
          border-bottom: 1em solid transparent !important;
          border-top: 1em solid transparent !important;
          position: absolute;
          top: -1em;
          left: 0;
        }
      }
    }
    &.dropdown-top {
      &.dropdown-center {
        &:before {
          content: '';
          border-top: 1em solid _palette('border-drop');
          border-left: 1em solid transparent !important;
          border-right: 1em solid transparent !important;
          position: absolute;
          bottom: -1em;
          left: calc(50% - 1em);
        }
      }
      &.dropdown-right {
        &:before {
          content: '';
          border-right: 1em solid _palette('border-drop');
          border-bottom: 1em solid transparent !important;
          border-top: 1em solid transparent !important;
          position: absolute;
          bottom: -1em;
          right: 0;
        }
      }
      &.dropdown-left {
        &:before {
          content: '';
          border-left: 1em solid _palette('border-drop');
          border-bottom: 1em solid transparent !important;
          border-top: 1em solid transparent !important;
          position: absolute;
          bottom: -1em;
          left: 0;
        }
      }
    }
  }
}
