@import 'libs/vars';
@import 'libs/functions';
//@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
//@import 'libs/html-grid';
//@import "fontawesome/fontawesome";
//@import "fontawesome/brands";
//@import url('fontawesome.min.css');
//@import url('brands.min.css');
//@import url('all.min.css');

@include breakpoints((
  wide:      ( 1281px,  1680px ),
  normal:    ( 961px,   1280px ),
  narrow:    ( 841px,   960px  ),
  narrower:  ( 737px,   840px  ),
  mobile:    ( null,    736px  )
));

// @import "components/banner";
// @import "components/carousel";
@import "components/navbar";
@import "components/footer";
@import "components/sidebar";
@import "components/content";

