@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url("all.min.css");
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -webkit-text-size-adjust: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

mark {
  background-color: transparent;
  color: inherit; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background-color: #131313;
  color: #fafafa;
  font: 300 15pt 'Source Sans Pro', sans-serif;
  line-height: 1.85em; }

a {
  text-decoration: underline;
  cursor: pointer;
  border-radius: 0.3em;
  -moz-transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }
  a:hover {
    color: #efa2a9;
    text-decoration: underline; }

button {
  padding: 0.35em 0.9em;
  color: inherit;
  font-size: 0.8em;
  cursor: pointer;
  background-color: #555555;
  border: 1px solid #555555;
  border-radius: 0.3em;
  -moz-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -ms-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out; }
  button:hover {
    background-color: #434343;
    border-color: #3c3c3c; }
  button.success {
    background-color: #28a745;
    border-color: #28a745; }
    button.success:hover {
      background-color: #218a39;
      border-color: #1e7e34; }

.active {
  border: 1px solid #e77681;
  padding: 0.35em 0.9em; }
  .active:hover {
    color: inherit; }

.link-icon {
  text-decoration: none;
  display: block; }
  .link-icon:hover {
    text-decoration: none; }
  .link-icon > i:before {
    vertical-align: middle; }
  .link-icon > i + * {
    margin-left: 0.5em; }
  .link-icon > .label {
    display: none !important; }

.logo {
  height: 2em;
  width: 2em; }

.footnote {
  font-size: 0.7em;
  line-height: 1em;
  color: rgba(250, 250, 250, 0.5); }

@media screen and (max-width: 1680px) {
  body, input, textarea, select {
    font-size: 14pt;
    line-height: 1.75em; } }
@media screen and (max-width: 1280px) {
  body, input, textarea, select {
    font-size: 12pt;
    line-height: 1.5em; } }
@media screen and (max-width: 840px) {
  body, input, textarea, select {
    font-size: 14pt;
    line-height: 1.65em; } }
@media screen and (max-width: 736px) {
  body, input, textarea, select {
    font-size: 15pt;
    line-height: 1.75em; } }
.dropdown > .dropdown-menu {
  display: none !important; }
.dropdown i.fa-sort-down {
  margin-left: 0; }

.dropdown-root {
  display: none;
  position: absolute;
  z-index: 20000;
  background-color: transparent !important; }
  .dropdown-root > .dropdown-menu {
    position: relative;
    padding: 0.5em 1em;
    background-color: #2a2a2a;
    border: 3px solid #1d1d1d;
    border-radius: 1em; }
    .dropdown-root > .dropdown-menu.dropdown-light {
      background-color: white;
      border-color: #cccccc;
      color: #212529; }
      .dropdown-root > .dropdown-menu.dropdown-light:before {
        border-color: #cccccc !important; }
    .dropdown-root > .dropdown-menu * {
      display: block; }
    .dropdown-root > .dropdown-menu > ul > li {
      padding: 0.25em 0; }
      .dropdown-root > .dropdown-menu > ul > li a {
        text-decoration: none; }
    .dropdown-root > .dropdown-menu.dropdown-bottom.dropdown-center:before {
      content: '';
      border-bottom: 1em solid #1d1d1d;
      border-left: 1em solid transparent !important;
      border-right: 1em solid transparent !important;
      position: absolute;
      top: -1em;
      left: calc(50% - 1em);
      z-index: -1; }
    .dropdown-root > .dropdown-menu.dropdown-bottom.dropdown-right:before {
      content: '';
      border-right: 1em solid #1d1d1d;
      border-bottom: 1em solid transparent !important;
      border-top: 1em solid transparent !important;
      position: absolute;
      top: -1em;
      right: 0;
      z-index: -1; }
    .dropdown-root > .dropdown-menu.dropdown-bottom.dropdown-left:before {
      content: '';
      border-left: 1em solid #1d1d1d;
      border-bottom: 1em solid transparent !important;
      border-top: 1em solid transparent !important;
      position: absolute;
      top: -1em;
      left: 0; }
    .dropdown-root > .dropdown-menu.dropdown-top.dropdown-center:before {
      content: '';
      border-top: 1em solid #1d1d1d;
      border-left: 1em solid transparent !important;
      border-right: 1em solid transparent !important;
      position: absolute;
      bottom: -1em;
      left: calc(50% - 1em); }
    .dropdown-root > .dropdown-menu.dropdown-top.dropdown-right:before {
      content: '';
      border-right: 1em solid #1d1d1d;
      border-bottom: 1em solid transparent !important;
      border-top: 1em solid transparent !important;
      position: absolute;
      bottom: -1em;
      right: 0; }
    .dropdown-root > .dropdown-menu.dropdown-top.dropdown-left:before {
      content: '';
      border-left: 1em solid #1d1d1d;
      border-bottom: 1em solid transparent !important;
      border-top: 1em solid transparent !important;
      position: absolute;
      bottom: -1em;
      left: 0; }

/*# sourceMappingURL=main_base.css.map */
